<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Erfassen</title>
</head>
<body>
{% extends "base.html" %} <!-- uses same template as homepage -->
{% block title %}Home Page{% endblock %}
{% block content %}
<br/><br/>
<h1 class="font-weight-bold text-center">Buch Erfassen</h1>
<br/><br/>

<!-- form code copied from bootstrap -->
    <form method="POST">  <!-- this sends the filled out form to json -->

      <div class="form-group">  <!-- first row -->
        <label for="title">Titel</label>
        <input type="text" class="form-control" placeholder="Titel" id="title" name="title" required > <!-- required sends error message after submitting -->
      </div>

      <div class="form-group"> <!-- second row -->
        <label for="author">Author</label>
        <input type="text" class="form-control" id="author" placeholder="Author" name="author" required>
      </div>

      <div class="form-group"> <!-- third row with multiple selection -->
        <label for="genre">Genre</label>
        <select multiple class="form-control" id="genre" name="genre" required>
          <option>Fantasy</option>
          <option>Thriller</option>
          <option>Sci-Fi</option>
          <option>Dystopian</option>
          <option>Non-Fiction</option>
        </select>
      </div>
        <div class="form-group"> <!-- fourth row numbers 1 to 5 -->
          <label for="bewertung">Bewertung</label>
          <input type="number" min="1" max="5" class="form-control" id="bewertung" name="bewertung" required>
        </div>
      <div class="text-center">
        <button type="submit" class="btn btn-primary">Buch Erfassen</button> <!-- submit button -->
      </div>
      <br/><br/>

    </form>
</body>
</html>
{% endblock %}