{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
        <title>Bücherverwaltung</title>
    </head>
        <body>
                <br/><br/><br/>
                <h1 class="font-weight-bold text-center">Willkommen zur Bücherverwaltung!<h1/>
                    <br/>
                <h2 class="lead text-center"> Wenn man viele Bücher liest, kann es schnell unübersichtlich werden. Mithilfe dieser Webapplikation, kann man eine bessere Übersicht über bereits gelesene Bücher erschaffen. Auf dieser Bücherverwaltung kann man ein neues Buch erfassen, Vorschläge und Analysen anhand von den gelesenen Büchern abrufen lassen oder einfach die Übersicht von den gelesenen Büchern ansehen.</h2>
                    <br/><br/>

                <h3 class="font-weight-bold text-center">Was möchten Sie tun?</h3>
                <br/>
                <ul class="text-center">
                    <a href="/erfassen" type="button" class="btn btn-primary">Neues Buch erfassen</a>
                    <a href="/uebersicht" type="button" class="btn btn-primary">Übersicht ansehen</a>
                    <a href="/analyse" type="button" class="btn btn-primary">Analyse anzeigen</a>
                <ul/>
                {% endblock %}
         </body>
</html>